@use '../../assets/webColors.scss' as *;

.Info2 {
    &.container {
        margin-top: 220px;
    }

    display: flex;
    justify-content: space-between;

    &__content {
        gap: 20px;
        width: 44%;
        display: flex;
        flex-direction: column;
        justify-content: center;

        h4 {
            color: $pink;
        }

        p {
            line-height: 37px;
        }

        &>.btn {
            align-self: flex-start;
        }
    }

    &__images {
        width: 44%;
        position: relative;
        height: 500px;

        .img2 {
            width: 422px;
            height: 281px;
            object-fit: cover;
            position: absolute;
            right: 0;
            bottom: 0;
            z-index: -1;
        }

        .img1 {
            width: 444px;
            height: 296px;
            object-fit: cover;
            object-position: top left;
        }

    }
}