@use '../../assets/webColors.scss' as *;

.ReviewCard {
  display: flex;
  flex-direction: column;
  box-shadow: 1px 4px 8px 0px #0000002E;
  background-color: $white;
  padding: 35px 27px;
  gap: 15px;
  border-radius: 10px;

  &-user1 {
    width: 350px;
    align-self: flex-end;
  }

  &-user2 {
    width: 450px;
  }

  &-user3 {
    width: 350px;
  }

  h5 {
    color: $pink;
  }

  &>p {
    font-size: 18px;
    padding-left: 30px;
    margin-top: 20px;
    position: relative;

    &>span {
      color: $light-pink;
      font-size: 26px;
      position: absolute;
      top: -10px;
      left: 0;
    }
  }

  &__user {
    display: flex;
    align-items: center;
    padding-left: 30px;
    gap: 15px;

    img {
      width: 60px;
      height: 60px;
      object-fit: cover;
      object-position: center;
      border-radius: 50%;
    }

    p {
      font-size: 18px;
      font-weight: 600;

      .condition {
        font-weight: 400;
        color: #969BAB;
        font-size: 14px;
      }
    }
  }
}