@use '../../assets/webColors.scss' as *;

.FooterBG {
  background-color: $footer-color;

  .Footer {
    color: $white;
    padding: 26px 50px;

    .FooterUp {
      padding: 70px 0;
      display: flex;
      justify-content: space-between;

      &__info {
        display: flex;
        flex-direction: column;
        flex-basis: 25%;
        gap: 20px;

        h5 {
          font-size: 26px;
          font-weight: 800;

          span {
            color: $pink;
          }
        }

        ul {
          display: flex;
          gap: 16px;

          i {
            width: 24px;
            height: 24px;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: $gray1;
            font-size: 12px;
            cursor: pointer;
            transition: 200ms;

            &:hover {
              background-color: $gray2;
            }
          }
        }
      }

      &__list {
        display: flex;
        flex-direction: column;
        gap: 24px;

        p {
          font-size: 20px;
          font-weight: 500;
        }

        ul {
          display: flex;
          flex-direction: column;
          gap: 12px;

          &.reach {
            gap: 24px;
          }

          li {
            display: flex;
            align-items: center;
            line-height: 24px;
            gap: 10px;
            font-weight: 200;
            font-size: 14px;
            cursor: pointer;
            transition: 200ms;

            &:hover {
              color: $gray3;
            }

            img {
              width: 24px;
            }
          }
        }
      }
    }

    .FooterDown {
      display: flex;
      justify-content: space-between;
      align-items: center;

      p {
        font-weight: 200;
        font-size: 14px;
      }

      ul {
        display: flex;
        gap: 20px;

        li {
          line-height: 24px;
          gap: 10px;
          cursor: pointer;
          transition: 200ms;
          font-weight: 200;
          font-size: 14px;

          &:hover {
            color: $gray3;
          }

        }
      }
    }

  }
}