$black: #252525;
$gray1: #424242;
$gray2: #858585;
$gray3: #D2D2D2;
$gray4: #EDEDED;
$white: #ffffff;
$pink: #E43071;
$pink-hover: #BE285E;
$light-pink: #FFC1D8;
$pink-disabled: #D37899;
$pink-gradient: #F4E3E9;
$green: #26D68A;
$light-green: #9BE8C7;
$footer-color: #0B0D17;