:root {
  font-family: Poppins;
  line-height: 1.5;
  font-weight: 400;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}
ol,ul{
  list-style: none;
}
a{
  text-decoration: none;
}

h1{
  font-size: 70px;
  font-weight: 900;
}
h2{
  font-size: 60px;
  font-weight: 900;
}
h3{
  font-size: 48px;
  font-weight: 600;
}
h4{
  font-size: 40px;
  font-weight: 900;
}
h5{
  font-size: 38px;
  font-weight: 600;
}