@use './assets/webColors.scss' as *;
.Info1 {
    display: flex;
    justify-content: space-between;
    &__content {
        width: 44%;

    }
    &__images {
        width: 38%;
        position: relative;
        height: 500px;

        .img1 {
            width: 241px;
            height: 359px;
            object-fit: cover;
            position: absolute;
            right: 0;
            bottom: 0;
            z-index: 1;

        }
        .img2 {
            width: 347px;
            height: 400px;
            object-fit: cover;
            object-position: top left;
        }
      button{

      }
    }
}